.format-label {
  display: block;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.format-label + select {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

label {
  font-weight: normal;
}
